$font-rubik: "Rubik";
$font-poppins: "Poppins";

$white: #ffffff;
$ebony: #161331;
$rhino: #26224A;
$east-bay: #4F4A84;
$marguerite: #796BBB;
$lavender: #9384E1;
$cold-purple: #9D93D5;
$spring: #00F298;
$jade: #00BD77;
$green: #00A065;